<div class="body">
    <div class="login">

      <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">

        <img src="../. ./../assets/img/usuario.png" alt="">
        <p>Login</p>

        <!--Angular Material-->
        <mat-form-field class="inputWidth" appearance="fill">
            <mat-label>User</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="user">
          </mat-form-field>

          <mat-form-field class="inputWidth" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput autocomplete="off" formControlName="password">
          </mat-form-field>

          <button type="submit" class="inputWidth-button" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
          <!--End Angular Material-->
      </form>
    </div>
</div>
